@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


body {
      background-color:black;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
       
    }
    main{
        position:relative;
        width:100%;
        height:100vh;
        }
   

    div {
      background-color: #fff;
      width: 550px;
      padding: 30px;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      text-align: left;
    }

    div h2 {
      font-size: 26px;
      color: #333;
      margin-bottom: 20px;
    }

    div p {
      font-size: 16px;
      color: #555;
      line-height: 1.6;
    }
    .end{
    position:absolute;
    color: red;
    bottom: 7px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content:center;
    }